/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 5, 2023, 11:04:22 PM
    Author     : tuna
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #00C6FF;
    --secondary: #0059A8;
    --light: #EAFCFF;
    --dark: #002D5A;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

.header__cont {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1440px;
    width: 100%;
    padding: 0 40px;
}

.header__cont-logo {
    font-weight: 900;
    color: white;
    font-size: 40px;
    font: bold;
    text-transform: uppercase;
}

.header__cont-nav {
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}

.nav-item {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.header__cont-user {
    position: relative;
    background-color: white;
    width: 110px;
    height: 60px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
}

.user-info {
    width: 100%;
    position: absolute;
    bottom: -60px;
    background-color: white;
    border-radius: 20px;
    padding: 14px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    vertical-align: top;
}

.user-info-item {
    padding: 0px 4px;
    cursor: pointer;
    color: var(--secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.user-info-item:hover {
    font-weight: 800;
    background-color: var(--secondary);
    color: white;
}


.header__cont-nav a:hover{
    background-color: white;
    color: var(--secondary);
    display: block;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px 20px 0px 20px;
}

.header__cont-nav a:active{
    background-color: white;
    color: var(--secondary);
    display: block;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px 20px 0px 20px;
}

.user-info {
    display: none;
}

.header__cont-user:hover .user-info{
    display: flex;
}